<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        #chat {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vb;

        }
    </style>
    <title>Chat</title>
</head>

<body>
    <div id="chat">
        <div id="messages"></div>
        <form id="messageForm">
            <input type="text" id="content" name="content">
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script>
        const pathParts = window.location.pathname.split("/");
        const username = pathParts[pathParts.length - 1];

        const socket = new WebSocket("ws://localhost:8080/chat?username=" + username);

        socket.onopen = function (event) {
            console.log("Conexão WebSocket aberta.");
        };

        socket.onmessage = function (event) {
            const message = JSON.parse(event.data);
            displayMessage(message);
        };

        socket.onclose = function (event) {
            console.log("Conexão WebSocket fechada.");
        };

        function displayMessage(message) {
            const messagesContainer = document.getElementById("messages");
            const messageElement = document.createElement("div");
            messageElement.innerText = message.name + ": " + message.content;
            messagesContainer.appendChild(messageElement);
        }

        document.getElementById("messageForm").addEventListener("submit", function (event) {
            event.preventDefault();
            const pathParts = window.location.pathname.split("/");
            const username = pathParts[pathParts.length - 1];
            const content = document.getElementById("content").value;
            const formData = new FormData();
            formData.append("content", content);

            fetch("/create-message" + username, {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.getElementById("error-content").textContent = data.error.content
                    } else {
                        document.getElementById("content").value = "";


                    }
                })
                .catch(error => {
                    console.error(error);
                });
        });


    </script>
</body>

</html>